<div class="main mat-elevation-z20">

	<img class="logo" src="https://res.cloudinary.com/dmuqfofzn/image/upload/v1509731619/login-logo_wo4npb.png">
 
	<p class="intro-txt">L O G I N</p>

<form (ngSubmit)="onSubmit(email.value, password.value)">
	<table>
		<tr>
			<td><i class="material-icons">account_circle</i></td>
			<td>
				<mat-form-field>

					<input matInput placeholder="Email" [formControl]="email">
           <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td><i class="material-icons">security</i></td>
			<td>
				<mat-form-field>

					<input matInput placeholder="Password" [formControl]="password">
          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>

				</mat-form-field>
			</td>
		</tr>

 
	</table>

 <button mat-raised-button color="accent" [disabled]="password.invalid || email.invalid">Login</button>

 </form>
    <br>

    <a class='left' routerLink="signup">Signup Now!</a> <a class='right' href="#">Forgot Password?</a>




</div>